
a,
a:focus,
a:hover {
  color: #fff;
  transition: 0.2s;
  -moz-transition: 0.2s;s
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}
a:focus,
a:hover {
  opacity: .7;
  text-decoration: none;
}

.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #fff;
  text-shadow: none;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 2px;
}


html,
body {
  height: 100%;
  background-color: #000000;
}
body {
  font-family: MrRobot, sans-serif;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}


.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  position:relative;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}


.inner {
  padding: 30px;
}



.masthead-nav > li,
.masthead-brand > li {
  display: inline-block;
}
.masthead-nav > li + li,
.masthead-brand > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a,
.masthead-brand > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus,
.masthead-brand > li > a:hover,
.masthead-brand > li > a:focus {
  background-color: transparent;
  color:#fff;
}

.masthead a {
  text-decoration: none;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

.video-background {
  z-index:550;
  text-align:center;
  height:100%;
  min-height:100%;
  position:relative;
  overflow:hidden
}

.video-background .video-background-container {
  width:830px;
  max-width:100%;
  display:inline-block;
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  -o-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%)
}

.video-background-title {
  font-size:78px;
  color:#fff;
  font-weight:300;
  text-transform:uppercase;
  text-align:center;
  margin-bottom:22px;
  padding-top:20px;
  display:inline-block;
  background-attachment:scroll;
  background-repeat:repeat-x;
  background-position:top center
}

.video-background-default-image {
  background:url(img/cover.jpg);
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;
  width:100%;
  height:100%;
  z-index:0;
  backface-visibility:hidden
}

.overlay {
  background: rgba(0, 0, 0, 0.4);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
}

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 15px 50px;
  font-weight: bold;
}

.cover-heading {
  font-size: 30px;
  padding-bottom: 30px;
}

small {
    color:#ccc!important;
}

#clock div {
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    margin:0 8px 20px 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 30px;
}
#clock span {
    display: block;
    font-size: 32px;
    font-weight: 100;
    padding: 30px 0;
    border-bottom: 1px solid #fff;
}

.mastfoot {
  color: #999;
  color: rgba(255,255,255,.5);
}

@media (min-width: 768px) {
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  .site-wrapper-inner {
    vertical-align: middle;
  }
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
  }
  .cover-heading {
    font-size: 40px;
  }
    #clock span {
        font-size: 72px;
        padding: 30px 0;
    }
    #clock div {
        margin:0 25px 30px 25px;
        line-height: 60px;
        font-size: 14px;
    }
}

figure {
    margin: 0;
}

@media (min-width: 992px) {
  .mastfoot,
  .cover-container {
    max-width: 800px;
  }
  .masthead {
    max-width: 100%;
     }
}